# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

firmware/Output
firmware/Output/*
firmware/._*
firmware/keil_output
firmware/keil_output/*
